<div class="d-flex align-items-center justify-content-between background text-white fixed-bottom overlay">
      <span class="material-symbols-rounded icon-lg cursor-pointer d-flex justify-content-center w-100 border border-white"
            (click)="setSelectedPane(navigationItemType.Search)"
            [ngClass]="{'active-button': isItemSelected(navigationItemType.Search)}">search</span>
      <span class="material-symbols-rounded icon-lg cursor-pointer d-flex justify-content-center w-100 border border-white"
            (click)="setSelectedPane(navigationItemType.SourceDestination)"
            [ngClass]="{'active-button': isItemSelected(navigationItemType.SourceDestination)}">route</span>
      <span class="material-symbols-rounded icon-lg cursor-pointer d-flex justify-content-center w-100 border border-white"
            (click)="setSelectedPane(navigationItemType.SmartSearch)" [ngClass]="{'active-button': isItemSelected(navigationItemType.SmartSearch)}">mystery</span>
</div>