<div class="background search-box-container fixed-top overlay max-width">
    <div class="input-group" [formGroup]="searchForm">
      <div class="input-group-text bg-white">
        <span class="material-symbols-rounded icon-lg text-orange">menu</span>
      </div>
      <input type="search" class="form-control" placeholder="Search" formControlName="query">
      <div class="input-group-text bg-white">
        <span class="material-symbols-rounded icon-lg text-orange">settings</span>
      </div>
    </div>
  </div>
