<ng-http-loader></ng-http-loader>
<div class="main-container">
  <div *ngIf="selectedPane===1" class="background search-box-container fixed-top overlay max-width">
    <div class="input-group" [formGroup]="searchForm">
      <div class="input-group-text bg-white">
        <span class="material-symbols-rounded icon-lg text-orange">menu</span>
      </div>
      <input type="search" class="form-control" placeholder="Search" formControlName="query">
      <div class="input-group-text bg-white">
        <span class="material-symbols-rounded icon-lg text-orange">settings</span>
      </div>
    </div>
  </div>

  <div *ngIf="selectedPane===2" [formGroup]="searchForm" class="background fixed-top p-2">
    <ng-select class="mb-2" [clearable]="true" (change)="onStopSelected($event, 'from')" [items]="fromStops"
      bindLabel="stopName" bindValue="stopId" formControlName="from" placeholder="From">
    </ng-select>

    <ng-select class="mb-2" [clearable]="true" (change)="onStopSelected($event, 'to')" [items]="toStops"
      bindLabel="stopName" bindValue="stopId" formControlName="to" placeholder="To">
    </ng-select>

    <button class="btn btn-primary bg-orange text-white cursor-pointer text-center px-5 button-rounded"
      (click)="searchForTrips()" [disabled]="!isFormValid">
      Search
    </button>
  </div>

  <div *ngIf="selectedPane===3" class="background fixed-top pt-3 text-center">
    <h3 class="text-orange d-flex align-items-center justify-content-center">
      <div class="card p-1 me-2 d-flex align-items-center justify-content-center"> <span class="text-orange material-symbols-rounded ">location_searching</span></div>
      Smart Search
    </h3>
  </div>

  <div *ngIf="tripInfo.length==0" class="d-flex justify-content-center text-white h-100vh align-items-center">
    <div class="lead" *ngIf="searchForm.get('query')">No Trips found!</div>
    <div class="lead" *ngIf="!searchForm.get('query')">Please search for a trip!</div>
  </div>


  <div *ngIf="tripInfo.length!=0 && !selectedTrip"
    [ngClass]="[selectedPane == 1 || selectedPane == 3 ? 'top-spacing' : 'top-spacing-large']">
    <div class="card p-3 m-1 cursor-pointer" *ngFor="let trip of tripInfo" (click)="selectTrip(trip.tripId)">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex justify-content-center align-items-center">
          <span class="material-symbols-rounded icon-lg me-2 text-orange">train</span>
          <div>
            <div>{{trip.routeId}}</div>
            <div class="text-secondary">{{trip.source}} to {{trip.destination}}</div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <span *ngIf="trip.status" class="icon-sm material-symbols-rounded text-success">brightness_1</span>
          <span *ngIf="!trip.status" class="icon-sm material-symbols-rounded text-danger">brightness_1</span>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="selectedTrip" class="card p-3" [ngClass]="[(selectedPane==1  || selectedPane == 3)? 'top-spacing' : 'top-spacing-large']">
    <div class="lead mb-2">Tracking Details</div>

    <div class="d-flex mb-2">
      <span class="font-weigth-bold me-2">Train Number: </span>
      <span>{{selectedTrip.routeId}}</span>
    </div>

    <div class="d-flex mb-2">
      <span class="font-weigth-bold me-2">Route: </span>
      <span class="text-secondary">{{selectedTrip.source}} to {{selectedTrip.destination}}</span>
    </div>

    <div>
      <div class="font-weigth-bold me-2">Current Status</div>
      <div class="text-secondary" *ngIf="selectedTrip.nextStopArrivalTime">
        Crossed {{selectedTrip.previousStop}} at {{selectedTrip.lastStopArrivalTime}} hrs.
      </div>
      <div class="text-secondary" *ngIf="!selectedTrip.nextStopArrivalTime">
        Reached {{selectedTrip.previousStop}} at {{selectedTrip.lastStopArrivalTime}} hrs.
      </div>
      <div class="text-secondary" *ngIf="selectedTrip.nextStopArrivalTime">
        Reaching {{selectedTrip.nextStop}} by {{selectedTrip.nextStopArrivalTime}} hrs.
      </div>

      <div class="d-flex justify-content-center">
        <div class="btn btn-primary bg-orange text-white cursor-pointer text-center mt-3 px-5 button-rounded"
          (click)="resetSelection(selectedPane === 3)">
          Reset
        </div>
      </div>
    </div>

    <div id="map"></div>
  </div>




  <div class="d-flex align-items-center justify-content-between background text-white fixed-bottom overlay">
    <span
      class="material-symbols-rounded icon-lg cursor-pointer d-flex justify-content-center w-100 border border-white"
      (click)="setSelectedPane(1)" [ngClass]="{'active-button':selectedPane===1}">search</span>
    <span
      class="material-symbols-rounded icon-lg cursor-pointer d-flex justify-content-center w-100 border border-white"
      (click)="setSelectedPane(2)" [ngClass]="{'active-button':selectedPane===2}">route</span>
    <span
      class="material-symbols-rounded icon-lg cursor-pointer d-flex justify-content-center w-100 border border-white"
      (click)="getTripsByLocation()" [ngClass]="{'active-button':selectedPane==3}">mystery</span>
  </div>

</div>