.background {
    background-color: #47535D;
}

.active {
    color: #F08731;
}

.active-button {
    color: white;
    background-color: #F08731;
}

.text-orange {
    color: #F08731;
}

.h-100vh {
    height: 100vh;
    overflow: hidden;
}

.top-spacing {
    margin-top: 64px;
}

.top-spacing-large {
    margin-top: 156px;
}

.bg-orange {
    background-color: #F08731 !important;
}

.icon-lg {
    font-size: 36px;
}

#map {
    margin-top: 10px;
    height: 300px;
}

.main-container {
    background-color: #47535D;
    min-height: 100vh;
    padding: 10px;
    height: 100%;
}

.max-width {
    max-width: -webkit-fill-available;
}

.ng-select.ng-select-single .ng-select-container {
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ng-value-container input {
    padding-top: 9px !important;
}

.search-box {
    border-radius: 50px;
}

.search-box-container{
    padding:10px;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-sm {
    font-size: 12px;
}

.button-rounded {
    border-radius: 25px;
}

.body {
    padding: 0;
    margin: 0;
}

.overlay {
    z-index: 25001;
}